<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Search</title>
    {{ bootstrap.load_css() }}
    {{ bootstrap.load_js() }}
</head>
<body style="background-color: #EEEEEE;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}"> 
                
                <strong style="padding-left: 10px; padding-right: 10px;font-size: 15px; border-style: solid; border-color: white; border-width: 1px; border-radius: 5px; border-left-color:#EE7214; border-top-color: #EE7214;">Recall Search</strong> </a>    
             </li>
          
            </ul>
            <img src="static/images/product-logo.jpg" alt="Image Description" width="65" height="65" style="margin-left: 9px; border-radius: 50%; border-style: dashed; border-width: 4px; border-color: #EE7214;" >
          </div> 
        </div>    
    </nav>
    <br>
    <div style="background-color: #EEEEEE;">
        <div class="header-container" style="text-align: center; font-size: medium;">
          <img src="static/images/logo02.png" alt="Image Description" width="65" height="65" style="margin-left: 9px" >
        <strong style="font-size: 27px; padding-top: 10px;">Food Center</strong>
    </div>
    <hr>

    <div style="text-align: center;">
      <img src="static/images/home-image01.png" alt="top-image" width="900" height="400" style="border-radius: 20px; display: block; margin: auto; margin-bottom: 5px; border-style: dashed; border-color: #EE7214; border-width: 5px;">
      <div style="background-color: white; border-style: solid; border-width: 2px; border-color:#393E46; border-top-color: #EE7214; border-left-color: #EE7214 ;margin-bottom: 2%; border-radius: 20px; margin-left: 5%; margin-right: 5%; margin-top: 2%;">
        <p style="margin-top: 15px; color: #333;">Ensuring food safety is essential for a healthy and happy life. Learn more about keeping your food safe and secure.</p>
      </div>
    </div>

</body>

  <footer style="background-color: #393E46; padding-top: 20px; padding-bottom: 10px;">
    <p style="color: #EEEEEE; text-align: center; opacity: 0.2;"> CST-205: This Web Application was created by Alex Mora, Andrea Hernandez & Daniel Martinez <p>
  </footer>
</html>