<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Recall Search</title>
    {{ bootstrap.load_css() }}
</head>
<div style="box-sizing: border-box;text-align: center; margin-top: 1.5%; " class= "p-3 text-success-emphasis bg-success-subtle border border-success-subtle rounded-3">
<body style="background-color: rgb(241, 244, 242);">
    <div> 
        <img src="https://ellis.agrilife.org/files/2022/10/product-recall-scaled-1.jpg" 
         width="300" 
         style="display: block; margin: auto; margin-top: 34.5%; border-radius: 200px;">
    
    </div>
    
    <hr>
    <h1>Food Recall Search</h1>
    <hr>
    
    <br><br>
    <form action="/search" method="post">
        <label style="font-size:30px" for="input">Search Food Item:</label>
        <input style="font-size:30px" type="text" id="input" name="input" required>
        <input style="font-size:30px" type="submit" value="Search" class="btn btn-dark">
    </form>
    <br><br>
    <hr>
</body>
</div>
<!-- <header>
    <img src="static/images/header2.jpg" width="200" style="margin-top: 0%; margin-left: 85%; border-radius: 100px; opacity: 20%">
</header> -->
</html>